
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Administrador</h2>

<ul>
    <li>@Html.ActionLink("Lista de servidores públicos", "ServidorPublicoListar")</li>
    <li>@Html.ActionLink("Nuevo servidor público", "ServidorPublicoNuevo")</li>
    <li>@Html.ActionLink("Lista de viaticos", "ViaticosListar")</li>
    <li>@Html.ActionLink("Nuevo viatico", "ViaticosNuevo")</li>
    <li>@Html.ActionLink("Grupos Jerárquicos", "GrupoJerarquicoListar")</li>
</ul>
