@model IEnumerable<ViajesTransparentes.Models.ServidorPublicoIFAI>

@{
    ViewBag.Title = "ServidoresPublicosIFAI";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2>ServidoresPublicosIFAI</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Institucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreDelCargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreDelCargoSuperior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnidadAdministrativa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaveDelPuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreDelPuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorreoElectrónico)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            IFAI
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreDelCargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreDelCargoSuperior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnidadAdministrativa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaveDelPuesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreDelPuesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorreoElectrónico)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServidorPublicoIFAIId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServidorPublicoIFAIId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServidorPublicoIFAIId })
        </td>
    </tr>
}

</table>
